<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Step By Step</title>
</head>
<body>
<div id="root">
    <ul>
        <li v-for="name in names"> {{name}}</li>
    </ul>
    <input type="text" id="input" v-model="newName">

    <button @click="addName">Add Name</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">

    let app = new Vue({
        el: '#root',
        data: {
            newName: '',
            names: ['Kim', 'Njong', 'Un']
        },
        methods: {
            addName: function() {
                this.names.push(this.newName)
                this.newName=''
            }
        }

    })
</script>
</body>
</html>